* {
  font-family: 'Lato', sans-serif;
}

/* общее */
a,
a:hover,
a:focus {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

/* header */
.header {
  padding-bottom: 16px;
}

/* header-logo */
.logo-wrap {
  height: 100px;
}

.text-logo a {
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  line-height: 32px;
  text-transform: uppercase;

}

.text-logo__d {
  color: #f16d7f;
  font-weight: 400;
  letter-spacing: 0.68px;
}

/* header-search */
.input-group-hover {
  cursor: pointer;
}

.browse:hover {
  color: #495057;
}

.dropdown-item-header {
  color: #232323;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
}

.form-control {
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 300;
}

/* header-card */
.my-account {
  width: 130px;
  height: 40px;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
}

.my-account:hover {
  color: #ffffff;
}

.card-in-item:hover {
  background-color: rgba(0, 0, 0, .05);
  cursor: pointer;
}

.card-item-desription h2 {
  color: #222222;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  min-width: 76px;
}

.card-item-desription h3 {
  color: #f16d7f;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.card-item-desription h3 span {
  font-size: 10px;
}

.card-total-price {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

/* menu */
.menu ul li a {
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.menu ul li a:hover {
  border-bottom: 3px solid #f16d7f;
}

/* SLIDER */
.slider {
  width: 100%;
  background-color: #e8e8e8;
  background-image: url(../img/Layer_24.png);
  background-repeat: no-repeat;
  background-position-x: center;
  height: 613px;
}

.slider-flex {
  height: 613px;
}

.block-slider-text {
  border-left: 12px solid #f16d7f;
  ;
}

.block-slider-text h4 {
  max-width: 485px;
  color: #222222;
  font-weight: 700;
  /* Text style for "T, HE BRAN" */
  font-size: 40px;
  letter-spacing: 1.5px;
  /* Text style for "OF LUXERIO" */
}

.block-slider-text__bottom {
  letter-spacing: 1px;
  font-weight: 400;

}

.block-slider-text__last-word {
  color: #f16d7f;
  letter-spacing: 1px;
  font-weight: 400;
}

/* CATEGORY */
.accesories {
  width: 100%;
  background-color: #dadad2;
  display: flex;
  justify-content: flex-end;
}

.category-title-men {
  width: 175px;
  height: 82px;
  background-color: #ffffff;
  position: absolute;
  top: 26px;
}

.category-img{
  width: 100%;
}

.category-title-accesories {
  width: 175px;
  height: 82px;
  background-color: #ffffff;
  position: absolute;
  top: 592px;
  left: 0;
}

.category-title-women {
  width: 175px;
  height: 82px;
  background-color: #ffffff;
  position: absolute;
  top: 26px;
}

.category-title-kid {
  width: 175px;
  height: 82px;
  background-color: #ffffff;
  position: absolute;
  top: 311px;
}

.category-title__top {
  color: #222222;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.45px;
}

.category-title__bottom {
  color: #222222;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  /* Text style for "FOR MEN" */
  color: #f16d7f;
  font-size: 30px;
  letter-spacing: 0.75px;
}